Importing depedencies

In [21]:
# print(sys.path)
import numpy as np  #for arrays
import pandas as pd  #for dataframes
from sklearn.model_selection import train_test_split #for splitting data into train and test sets
from sklearn.linear_model import LogisticRegression #for logistic regression
from sklearn.metrics import accuracy_score #for accuracy score needed to evaluate model

Data collection and pre-processing

In [22]:
# loading dataframe to pandas
heart_dataFrame=pd.read_csv('heart_cleveland_upload.csv')
# printing first 5 rows of dataframe

In [23]:
# Checking of rows and columns in dataframe
heart_dataFrame.head(100)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,60,0,2,120,178,1,0,96,0,0.0,0,0,0,0
96,59,1,2,126,218,1,0,134,0,2.2,1,1,1,1
97,59,1,2,150,212,1,0,157,0,1.6,0,0,0,0
98,58,1,2,112,230,0,2,165,0,2.5,1,1,2,1
99,58,1,2,105,240,0,2,154,1,0.6,1,0,2,0

In [24]:
# Checking total No. of rows and columns
print(heart_dataFrame.shape)

(297, 14)

In [25]:
# All info about dataframe
print(heart_dataFrame.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 297 entries, 0 to 296
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        297 non-null    int64
 1   sex        297 non-null    int64
 2   cp         297 non-null    int64
 3   trestbps   297 non-null    int64
 4   chol       297 non-null    int64
 5   fbs        297 non-null    int64
 6   restecg    297 non-null    int64
 7   thalach    297 non-null    int64
 8   exang      297 non-null    int64
 9   oldpeak    297 non-null    float64
 10  slope      297 non-null    int64
 11  ca         297 non-null    int64
 12  thal       297 non-null    int64
 13  condition  297 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 32.6 KB
None

In [26]:
# Null values identification
heart_dataFrame.isnull().sum()

age          0
sex          0
cp           0
trestbps     0
chol         0
fbs          0
restecg      0
thalach      0
exang        0
oldpeak      0
slope        0
ca           0
thal         0
condition    0
dtype: int64

In [27]:
# statistical measures on dataframe
heart_dataFrame.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
count,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000,297.000000
mean,54.542088,0.676768,2.158249,131.693603,247.350168,0.144781,0.996633,149.599327,0.326599,1.055556,0.602694,0.676768,0.835017,0.461279
std,9.049736,0.468500,0.964859,17.762806,51.997583,0.352474,0.994914,22.941562,0.469761,1.166123,0.618187,0.938965,0.956690,0.499340
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,2.000000,120.000000,211.000000,0.000000,0.000000,133.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,56.000000,1.000000,2.000000,130.000000,243.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,0.000000,0.000000
75%,61.000000,1.000000,3.000000,140.000000,276.000000,0.000000,2.000000,166.000000,1.000000,1.600000,1.000000,1.000000,2.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,3.000000,2.000000,1.000000

In [28]:
# Distribution of target variable
heart_dataFrame['condition'].value_counts()

0    160
1    137
Name: condition, dtype: int64

1 -> Heart with disease

2 -> Heart is Healthy

Splitting the Condtion column

In [29]:
x= heart_dataFrame.drop(columns='condition',axis=1)
y= heart_dataFrame['condition']

In [30]:
print (y)

0      0
1      0
2      0
3      1
4      0
      ..
292    1
293    1
294    1
295    0
296    1
Name: condition, Length: 297, dtype: int64

Splling the data for Training and Testing

In [31]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)
print(x.shape,x_train.shape,x_test.shape)
# 80% of data goes to train data and 20% goes to test data.

(297, 13) (237, 13) (60, 13)

Model training

Logistic regresion model

In [32]:
model=LogisticRegression(random_state=0,multi_class='multinomial',penalty='none',solver='newton-cg')
model.fit(x_train,y_train)

LogisticRegression(multi_class='multinomial', penalty='none', random_state=0,
                   solver='newton-cg')

Model evaluation

In [33]:
# Training accuracy score
x_training_pred=model.predict(x_train)
training_data_accuracy=accuracy_score(x_training_pred,y_train)
print("Training accuracy score:",training_data_accuracy)

Training accuracy score: 0.8565400843881856

In [34]:
# Testing accuracy score
x_testing_pred=model.predict(x_test)
testing_data_accuracy=accuracy_score(x_testing_pred,y_test)
print("Testing accuracy score:",testing_data_accuracy)

Testing accuracy score: 0.9

Building a predictive model

In [35]:
input_data=(69,1,0,160,234,1,2,131,0,0.1,1,1,0)
# changed to numpy array
input_data_reshaped=np.array(input_data).reshape(1,-1)

prediction=model.predict(input_data_reshaped)
# print(type(prediction))
if(prediction[0]==0):
    print("Patient has no heart disease")
else:
    print("Patient has heart disease")

Patient has no heart disease

C:\Users\KIIT\AppData\Local\Programs\Python\Python39\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(